body {
  background-color: green;
}
img {
  width: 200px;
  transition: transform 0.4s ease;
}
img:hover {
  transform: rotate(67deg);
}
h1 {
  color: #333;
  transition: color 0.5s ease;
}

h1:hover {
  color: #ff4444;
}
